#content,#reviewer,.rating,.date{
    font-family: Arial, Helvetica, sans-serif;
}
.review {
  margin-bottom: 20px;
}

.highlight {
  position: relative;
  cursor: pointer;
}

.tooltip {
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 1000;
  white-space: nowrap;
}
#content {
  margin-left: 105px;
  margin-right: 25px;
  margin-top: 0px;
}
#reviewer{
  margin-left: 15px;
  margin-top: 25px;
}
#images{
  margin-left: 55px;
 margin-top: 20px;
 height: 35px;
}
.parent{
  display: flex;
}
.date{
  margin-left: 105px;
  display: flex;
}
.rating{
  margin-right: 55px;
}
p{
  margin-top: 7px;
}